{% extends 'layout.html.twig' %} {% set adminMenu = true %} {% block title %}{{ title }}{% endblock %} {% block content %}
<h2 class="text-center">{{ block('title') }}</h2> {% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
    {{ form_start(articleForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(articleForm.name, null, { 'label_attr': { 'class': 'col-sm-4 control-label' }}) }}
        <div class="col-sm-6">
            {{ form_errors(articleForm.name) }} {{ form_widget(articleForm.name, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(articleForm.desc, null, { 'label_attr': { 'class': 'col-sm-4 control-label' }}) }}
        <div class="col-sm-6">
            {{ form_errors(articleForm.desc) }} {{ form_widget(articleForm.desc, { 'attr': { 'class': 'form-control', 'rows': '8' }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(articleForm.price, null, { 'label_attr': { 'class': 'col-sm-4 control-label' }}) }}
        <div class="col-sm-6">
            {{ form_errors(articleForm.price) }} {{ form_widget(articleForm.price, { 'attr': { 'class': 'form-control', 'rows': '8' }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(articleForm.cat, null, { 'label_attr': { 'class': 'col-sm-4 control-label' }}) }}
        <div class="col-sm-6">
            {{ form_errors(articleForm.cat) }} {{ form_widget(articleForm.cat, { 'attr': { 'class': 'form-control', 'rows': '8' }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(articleForm.dispo, null, { 'label_attr': { 'class': 'col-sm-4 control-label' }}) }}
        <div class="col-sm-6">
            {{ form_errors(articleForm.dispo) }} {{ form_widget(articleForm.dispo, { 'attr': { 'class': 'form-control', 'rows': '8' }}) }}
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
    {{ form_end(articleForm) }}
</div>
{% endblock %}