{% extends "layout.html.twig" %} {% block title %}{% endblock %} {% block content %}

<body>
    <div class="container">
        <div class="row">

            {% for article in articles %}
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p>
                    <a class="thumbnail" href="{{ path('article', { 'id': article.id }) }}"><img src="{{app.request.basepath}}/images/{{article.id}}.jpg"></a>
                    {{ article.name }}</p>


                <h3 align="right" style="color: Red;"> {{ article.price }} €</h3>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
{% endblock %}